/*
*GTEMPLATES------------------
*GTEMPLATES------------------
*GTEMPLATES------------------
*GTEMPLATES------------------
*GTEMPLATES------------------
*/
$gtemplate-0:  
 "video1" 74vh /
 calc(74vh * 1.7777);
 $gtemplate-1:  
 "video1 video2 " 54vh /
 calc(54vh * 1.7777) calc(54vh * 1.7777);

 $gtemplate-2:"video1 video2 video3" 38vh /
 calc(38vh * 1.7777) calc(38vh * 1.7777) calc(38vh * 1.7777);

 $gtemplate-3:
 "video1 video2" 38vh
 "video3 video4"  38vh /
 calc(38vh * 1.7777) calc(38vh * 1.7777);

 $gtemplate-4:
 "video0 video1 video1 video2 video2 video0a" 36vh
"video3 video3 video4 video4 video5 video5" 36vh /
 calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4);

 $gtemplate-5:
 "video1 video2 video3" 38vh
 "video4 video5 video6" 38vh /
 calc(38vh * 1.7777) calc(38vh * 1.7777) calc(38vh * 1.7777);
 
 $gtemplate-6:
 "video0a video1 video1 video2 video2 video3 video3 video0" 32vh
 "video4 video4 video5 video5 video6 video6 video7 video7" 32vh /
 calc(20vh * 1.1) calc(20vh * 1.1) calc(20vh * 1.1) calc(20vh * 1.1) calc(20vh * 1.1) calc(20vh * 1.1) calc(20vh * 1.1) calc(20vh * 1.1);

 $gtemplate-7:
 "video1 video2 video3 video4" 34vh
 "video5 video6 video7 video8" 34vh  /
 calc(34vh * 1.3) calc(34vh * 1.3) calc(34vh * 1.3) calc(34vh * 1.3);
 $gtemplate-8:
 "videob video1 video1 video2 video2 video3 video3 video4 video4 videod" 36vh
 "video5 video5 video6 video6 video7 video7 video8 video8 video9 video9" 36vh 
 / 18vh 18vh 18vh  18vh  18vh  18vh  18vh  18vh  18vh 18vh;
 $gtemplate-9:
 "video1 video1 video2 video2 video3 video3 video4 video4 video5 video5" 36vh
 "video6 video6 video7 video7 video8 video8 video9 video9 video10 video10" 36vh 
 / 18vh 18vh 18vh  18vh  18vh  18vh  18vh  18vh  18vh 18vh;


 /*
* FULLSCREEN GTEMPLATES------------------
* FULLSCREEN GTEMPLATES------------------
* FULLSCREEN GTEMPLATES------------------
* FULLSCREEN GTEMPLATES------------------
* FULLSCREEN GTEMPLATES------------------
*/
$gtemplateFs-0:  
"video1" 74vh /
calc(74vh * 1.7777);
$gtemplateFs-1:  
"video1 video2 " 54vh /
calc(54vh * 1.7777) calc(54vh * 1.7777);

$gtemplateFs-2:"video1 video2 video3" 34vh /
calc(34vh * 1.7777) calc(34vh * 1.7777) calc(34vh * 1.7777);

$gtemplateFs-3:
"video1 video2" 38vh
"video3 video4"  38vh /
calc(38vh * 1.7777) calc(38vh * 1.7777);

$gtemplateFs-4:
"video0 video1 video1 video2 video2 video0a" 36vh
"video3 video3 video4 video4 video5 video5" 36vh /
calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4) calc(18vh * 1.4);

$gtemplateFs-5:
"video1 video2 video3" 38vh
"video4 video5 video6" 38vh /
calc(38vh * 1.4) calc(38vh * 1.4) calc(38vh * 1.4);


$gtemplateFs-6:
"video0a video1 video1 video2 video2 video3 video3 video0" 32vh
"video4 video4 video5 video5 video6 video6 video7 video7" 32vh /
 calc(16vh * 1.1)  calc(16vh * 1.1)  calc(16vh * 1.1)  calc(16vh * 1.1)  calc(16vh * 1.1)  calc(16vh * 1.1)  calc(16vh * 1.1)  calc(16vh * 1.1);

$gtemplateFs-7:
"video1 video2 video3 video4" 34vh
"video5 video6 video7 video8" 34vh  /
calc(34vh * 1.1) calc(34vh * 1.1) calc(34vh * 1.1) calc(34vh * 1.1);
$gtemplateFs-8:
"videob video1 video1 video2 video2 video3 video3 video4 video4 videod" 30vh
"video5 video5 video6 video6 video7 video7 video8 video8 video9 video9" 30vh 
/ 15vh 15vh 15vh  15vh  15vh  15vh  15vh  15vh  15vh 15vh;
$gtemplateFs-9:
"video1 video1 video2 video2 video3 video3 video4 video4 video5 video5" 30vh
"video6 video6 video7 video7 video8 video8 video9 video9 video10 video10" 30vh 
/ 15vh 15vh 15vh  15vh  15vh  15vh  15vh  15vh  15vh 15vh;
