@import "./components/gridtemplates.scss";
@import "./components//mixings.scss";
.meetWrapper,
.waitingRoomWrapper {
  background-color: rgb(51, 51, 51);
  height: 90vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  position: relative;
}
#videos,
.cardsContainer {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
}

/*
------------------------------------------------
controls styles
------------------------------------------------ 
*/
.controls {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  width: 100%;
  z-index: 1000;

  .mainControls {
    display: flex;
  }

  .controlBtn {
    border: 1px solid white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
    margin: 0px 20px;
    background-color: transparent;
  }
  .controlBtn.leave {
    background-color: rgb(230, 65, 65);
    border-color: rgb(230, 65, 65);
  }

  .fullscreen {
    border: none;
    align-self: flex-end;
    position: absolute;
    right: 20px;
  }
}
/*
------------------------------------------------
controls styles ends
------------------------------------------------ 
*/
/*
------------------------------------------------
WaitingRoom styles
------------------------------------------------ 
*/
.waitingRoomWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  .videoCardPlayer,
  .waitingContent {
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .videoCardPlayer {
    transform: rotateY(180deg);
    margin: 0 auto;
  }
  .videoCardPlayer.a4_3 {
    width: calc(450px * 1.333333);
  }
  .videoCardPlayer.a16_9 {
    width: calc(450px * 1.777777);
  }
  .videoCardPlayer.a3_2 {
    width: calc(450px * 1.5);
  }
  .videoCardPlayer.a21_9 {
    width: calc(450px * 2.333333);
  }
  .videoCardPlayer.a16_10 {
    width: calc(450px * 1.6);
  }
  .waitingContent {
    color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-shadow: 1px 1px 6px #242424;
    }
  }
}

.waitingArea {
  max-width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 32px;
  font-size: 18px;
}
.waitingBtn {
  width: 100%;
  font-size: 18px;
  padding: 18px 36px;
  border-radius: 12px;
  border: none;
  background-color: rgb(103, 61, 166);
  color: white;
  max-width: 200px;
}
/*
------------------------------------------------
WaitingRoom styles ends
------------------------------------------------ 
*/

/*
------------------------------------------------
WaitingRoom device control styles
------------------------------------------------ 
*/
.devices {
  display: flex;
  .controlBtn {
    cursor: pointer;
    border: 1px solid white;
    padding: 16px;
    margin: 12px 12px;
    border-radius: 50%;
  }
  .controlBtnOff {
    background-color: red;
    border-color: transparent;
  }
}
/*
------------------------------------------------
WaitingRoom device control styles ends
------------------------------------------------ 
*/

/*
------------------------------------------------
VideoCards Render styles
------------------------------------------------ 
*/
.videoCard {
  width: 17em;
  height: 10em;
  border-radius: 16px;
  background-color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;

  .avatar {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 38px;
    border-radius: 16px;
    background-color: rgb(77, 77, 77);
    overflow: hidden;
    img {
      border-radius: 50%;
    }
  }
  .videoCardPlayer {
    width: 100%;
    height: 100%;
    position: inherit;
    display: flex;
    justify-content: center;
    div,
    div video {
      width: 100%;
      height: 100%;
    }
  }

  .videoCardPlayer.a4_3 {
    width: calc(450px * 1.333333);
  }
  .videoCardPlayer.a16_9 {
    width: calc(450px * 1.777777);
  }
  .videoCardPlayer.a3_2 {
    width: calc(450px * 1.5);
  }
  .videoCardPlayer.a21_9 {
    width: calc(450px * 2.333333);
  }
  .videoCardPlayer.a16_10 {
    width: calc(450px * 1.6);
  }
}

/*
  VIDEO RENDER LOGIC
  Here we have 4 Layouts

  
  1.Alone
  2.Basic   +2 attendees
  3.Grid    +4 attendees
  4.Column  +2 attendees
*/

/**
* 1.Alone
**/

#videos.alone {
  justify-content: center;
  align-items: center;

  .cardsContainer {
    justify-content: center;
    align-items: center;
    .videoCard {
      z-index: 100;
      box-shadow: 3px 6px 16px 4px rgba(34, 34, 49, 0.36) !important;
      height: 380px;
      justify-content: center;
      width: calc(380px * 1.777777);
      margin: auto;
      .videoCardPlayer.a4_3 {
        width: calc(380px * 1.333333);
      }
      .videoCardPlayer.a16_9 {
        width: calc(380px * 1.777777);
      }
      .videoCardPlayer.a3_2 {
        width: calc(380px * 1.5);
      }
      .videoCardPlayer.a21_9 {
        width: calc(380px * 2.333333);
      }
      .videoCardPlayer.a16_10 {
        width: calc(380px * 1.6);
      }
    }
  }
}
/**
* GRIDS
* GRIDS
* GRIDS
* GRIDS
* GRIDS
* GRIDS
* GRIDS
*/
#videos[class*="grid-"] {
  .cardsContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 16px 16px;
    padding-bottom: 40px;
    transition: 0.6s;
  }
}

#videos.grid-0 > .cardsContainer {
  grid-template: $gtemplate-0;
  @include videoGrid(2);
  @include playerAspect(74vh);
}
#videos.grid-1 > .cardsContainer {
  grid-template: $gtemplate-1;
  @include videoGrid(3);
  @include playerAspect(54vh);
}
#videos.grid-2 > .cardsContainer {
  display: grid;
  grid-template: $gtemplate-2;
  @include videoGrid(4);
  @include playerAspect(54vh);
}
#videos.grid-3 > .cardsContainer {
  @include videoGrid(5);
  grid-template: $gtemplate-3;
  @include playerAspect(50vh);
}
#videos.grid-4 > .cardsContainer {
  grid-template: $gtemplate-4;
  @include videoGrid(6);
  @include playerAspect(38vh);
}
#videos.grid-5 > .cardsContainer {
  grid-template: $gtemplate-5;
  @include videoGrid(7);
  @include playerAspect(38vh);
}
#videos.grid-6 > .cardsContainer {
  grid-template: $gtemplate-6;
  @include videoGrid(8);
  @include playerAspect(38vh);
}
#videos.grid-7 > .cardsContainer {
  grid-template: $gtemplate-7;
  @include videoGrid(9);
  @include playerAspect(28vh);
}
#videos.grid-8 > .cardsContainer {
  grid-template: $gtemplate-8;
  @include videoGrid(10);
  @include playerAspect(28vh);
}
#videos.grid-9 > .cardsContainer {
  grid-template: $gtemplate-9;
  @include videoGrid(11);
  @include playerAspect(28vh);
}

/*
---------------------------
Presentation layout
--------------------------
*/
#videos.grid-0-p,
#videos.grid-1-p,
#videos.grid-2-p,
#videos.grid-3-p,
#videos.grid-4-p,
#videos.grid-5-p,
#videos.grid-6-p,
#videos.grid-7-p,
#videos.grid-8-p,
#videos.grid-9-p {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template:
    "screen videos" 90vh /
    70vw 30vw;
  .pinned {
    grid-area: screen;
    display: flex;
    justify-content: center;
    align-items: center;
    .videoCardPlayer {
      width: 65vw;
      height: calc(65vw / 1.7777);
    }
  }

  .cardsContainer {
    grid-area: videos;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 0px;
    .videoCard {
      position: inherit;
      margin: 10px;
      height: 100px;
      width: calc(100px * 1.77777);
    }
  }
}
/*
------------------------------------------------
VideoCards Render styles ends
------------------------------------------------ 
*/

/*
------------------------------------------------
FullScreen styles
------------------------------------------------ 
*/
.meetWrapper:fullscreen {
  #videos {
    height: 90vh;
    position: relative;
    .videoCard {
      transition: 1s;
    }
  }

  #videos.grid-0 > .cardsContainer {
    grid-template: $gtemplateFs-0;
    @include videoGrid(2);
    @include playerAspect(74vh);
  }
  #videos.grid-1 > .cardsContainer {
    grid-template: $gtemplateFs-1;
    @include videoGrid(3);
    @include playerAspect(54vh);
  }
  #videos.grid-2 > .cardsContainer {
    display: grid;
    grid-template: $gtemplateFs-2;
    @include videoGrid(4);
    @include playerAspect(54vh);
  }
  #videos.grid-3 > .cardsContainer {
    @include videoGrid(5);
    grid-template: $gtemplateFs-3;
    @include playerAspect(50vh);
  }
  #videos.grid-4 > .cardsContainer {
    grid-template: $gtemplateFs-4;
    @include videoGrid(6);
    @include playerAspect(38vh);
  }
  #videos.grid-5 > .cardsContainer {
    grid-template: $gtemplateFs-5;
    @include videoGrid(7);
    @include playerAspect(38vh);
  }
  #videos.grid-6 > .cardsContainer {
    grid-template: $gtemplateFs-6;
    @include videoGrid(8);
    @include playerAspect(38vh);
  }
  #videos.grid-7 > .cardsContainer {
    grid-template: $gtemplateFs-7;
    @include videoGrid(9);
    @include playerAspect(28vh);
  }
  #videos.grid-8 > .cardsContainer {
    grid-template: $gtemplateFs-8;
    @include videoGrid(10);
    @include playerAspect(28vh);
  }
  #videos.grid-9 > .cardsContainer {
    grid-template: $gtemplateFs-9;
    @include videoGrid(11);
    @include playerAspect(28vh);
  }
}

/*
------------------------------------------------
FullScreen styles ends
------------------------------------------------ 
*/

/*
------------------------------------------------
EndCall modal styles
------------------------------------------------ 
*/
.endCallModal {
  transition: 0.6s;
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 132px;
  background: rgb(235, 235, 235);
  border-radius: 16px;
  color: rgb(44, 44, 44);
  overflow: hidden;

  h4 {
    text-align: center;
  }
  .endCallButtons {
    display: flex;
    justify-content: center;

    button {
      padding: 12px 20px;
      margin: 0 12px;
      color: #242424;
    }
    button:nth-of-type(1) {
      border: 1px solid blue;
      color: blue;
      background: rgb(235, 235, 235);
    }
    button:nth-of-type(2) {
      background: red;
      border: 1px solid red;
      color: #fff;
    }
  }
  h4,
  .endCallButtons {
    display: none;
  }
}

@keyframes modalIn {
  0% {
    width: 0px;
    height: 0px;
    padding: 0px;
  }
  100% {
    width: 400px;
    height: 160px;
    padding: 20px;
  }
}

@keyframes modalContent {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.endCallModal.show {
  animation: modalIn 0.6s forwards;
  h4,
  .endCallButtons {
    display: flex;

    animation: modalContent 0.71s forwards;
  }
}

/*
------------------------------------------------
EndCall modal styles ends
------------------------------------------------ 
*/

/*
Invite widget
*/

.inviteWidget {
  z-index: 100;
  position: fixed;
  bottom: 40px;
  left: 20px;
  width: 320px;
  background-color: rgb(223, 223, 223);
  border-radius: 25px;
  padding: 12px;
  .closebtn {
    width: 32px;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  button {
    cursor: pointer;
    width: 100%;
    svg {
      margin-left: 8px;
    }
  }
  p:nth-of-type(1) {
    font-size: 18px;
    font-weight: 400;
  }
  p:nth-of-type(2) {
    font-weight: 600;
  }
}
