.navbar {
  height: 10vh;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: rgb(39, 87, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  h2 {
    margin: 0px;
    padding: 0px;
  }
}